:root {

    --upRed: #7a1832;
    --upgold: #c09b57;
}


.color-1 {
    background-color: var(--upRed) !important;
    color: var(--upgold) !important;
}

.color-2{
    background-color: var(--upgold) !important;
    color: var(--upRed) !important;
}

.color-3{
    color: var(--upRed) !important;
}

.color-4{
    color: var(--upgold) !important;
}