<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid px-4">
        
        <a class="navbar-brand d-flex align-items-center gap-3" href="">
            <div class="d-flex align-items-center justify-content-center rounded text-white">
                <a class="navbar-brand" href="">
                    <img src="\img\logo-UP.png" alt="Logo" width="280" height="75">
                </a>
            </div>
            <div class="d-flex flex-column" style="line-height: 1.2;">
                <span class="fw-bold fs-5 text-body-emphasis font-1">Secretaría de Gestion Académica</span>
                <!-- <span class="small text-body-secondary font-1" style="font-size: 0.75rem;">Sistema de Gestión Modular</span> -->
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-2">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                        <span style="font-size: 1.25rem;"><i class="fa-solid fa-user justify-content-left"></i> </span>
                        <span class="d-none d-lg-inline font-2">{{user.username}}</span>
                    </a>
                    
                    <ul class="dropdown-menu shadow">
                        <li>
                            <h6 class="dropdown-header">
                                <div class="fw-bold text-body">{{user.username}}</div>
                                <div class="small text-muted text-capitalize">{{user.role}}</div>
                            </h6>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <button class="dropdown-item text-danger" onclick="handleLogout()">
                                Cerrar Sesión
                            </button>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>