:root {

    --upRed: #7a1832;
    --upgold: #c09b57;
}

.tab-button {
    padding: 0.75rem 1.5rem;
    border: none;
    background: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab-button.active {
    border-bottom-color: hsl(var(--primary));
    color: hsl(var(--primary));
    font-weight: 500;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.color-1 {
    background-color: var(--upRed) !important;
    color: var(--upgold) !important;
}

.color-2{
    background-color: var(--upgold) !important;
    color: var(--upRed) !important;
}

.color-3{
    color: var(--upRed) !important;
}

.color-4{
    color: var(--upgold) !important;
}